.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background-color: #beffff;
}
.p1 {
  font-family: "Lucida Console", "Courier New", monospace;
  border-style: solid ;

  width: auto;
  height: auto;    
  padding: auto;
  display: flex;
  justify-content: center;

}
img {
  position: fixed;
  left: 1200px;
  top: -73px;    
  padding: auto;
  width: 150px;
}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  
  display: flex;
  justify-content: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#pcolor{
  color: #282c34;
  background-color: #c2bebe;
}

.App-link {
  color: #61dafb;
}
#underline {
  color: red;
  text-decoration: underline;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
